:root {
  --bg-primary: #fff;
  --bg-secondary: #e3e3e3;

  --bg-primary-rgb: 255, 255, 255;
  --bg-secondary-rgb: 227, 227, 227;

  --text-color: black;

  --shadow-components: 1px 1px 10px rgba(170, 170, 170, 0.8);
}

body {
  color: var(--text-color);
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1240px;
}

.form {
  width: 300px;
}

@media screen and(min-width:900px) {
  .app {
    &-box {
      display: flex;
    }
  }
}
