:root {
  --bg-primary: #fff;
  --bg-secondary: #e3e3e3;
  --shadow-components: 1px 1px 10px rgba(170, 170, 170, 0.8);
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1240px;
}

.form {
  width: 300px;
}

.app {
  &__aside {
    display: none;
    width: 25%;
    max-width: 360px;
    min-width: 300px;
  }

  &-box {
    display: flex;
  }
}

.aside {
  &__user {
    display: flex;
    align-items: center;

    img {
      width: 40px;
      height: 40px;

      object-fit: cover;
      border-radius: 50%;
    }
  }
}

@media screen and (min-width: 1100px) {
  .app {
    &__aside {
      display: block;
    }
  }
}
